



header {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            display: block;
            img {
                height: 90px;
                width: 90px;
            }
        }
    }
}