@media only screen and (min-width: 768px) {
  .container {
    max-width: 600px;
  }
  .container .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .container .main h1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 3rem;
    font-weight: 700;
  }
  .container .main .text-block {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 4 / 3;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
  }
  .container .main .text-block h4 {
    position: absolute;
    text-align: center;
    top: -100px;
    width: 450px;
    left: -210px;
  }
  .container .main .text-block button {
    position: absolute;
    width: 230px;
    height: 60px;
    left: -100px;
    top: 50px;
  }
  .container .main .video-block {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 5 / 1 / 7 / 3;
    margin-top: -70px;
  }
  .mid-section .first-list {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mid-section .first-list .course {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #14b2ba;
    padding: 0 20px;
  }
  .mid-section .first-list .list {
    font-size: 1.2rem;
    padding: 0 20px;
  }
  .mid-section .first-list .list li {
    margin-top: 33px;
  }
  .second-list {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second-list .bundle {
    font-size: 1.5rem;
    margin-top: 20px;
    color: red;
    padding: 0 20px;
  }
  .second-list .bundle-list {
    font-size: 1.2rem;
    padding: 0 20px;
  }
  .second-list .bundle-list li {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=media.css.map */