
$desktop: "(min-width: 1132px)";
$tablet: "(min-width: 768px) and (max-width: 1131px)";
$phone: "(max-width: 767px)";

@media #{$tablet} {
    .container {
        max-width: 768px;
        .main {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            h1 {
                grid-area: 1 / 1 / 2 / 3;
                text-align: center;
                justify-self: center;
                align-self: center;
                font-size: 3rem;
                font-weight: 700;
            }
            .text-block {
                grid-area: 2 / 1 / 4 / 3;
                text-align: center;
                justify-self: center;
                align-self: center;
            }
            .video-block {
                grid-area: 5 / 1 / 7 / 3;
            }
        }
    }
}